.btn_s {
    margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  > div {
  padding: 0.7em 1.7em;
  font-size: 14px;
  border-radius: 0.5em;
  background: var(--bgColor);
  color: var(--textColor);
  cursor: pointer;
  border: 1px solid var(--borderColor);
  transition: all 0.3s;
  box-shadow: var(--box-shadow)  0px 8px 24px;
  &:hover {
    border: 1px solid white;
  }
  &:active {
    box-shadow: 4px 4px 12px var(--box-shadow), -4px -4px 12px var(--textColor);
  }
  }
}
