body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    background-color: #eee;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;

    .food-item {
        position: absolute;
        font-size: 24px;
        color: #333;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .container {
        text-align: center;
        padding: 20px;

        .result {
            font-weight: 700;
            font-size: 28px;
            margin: 20px 0;
            color: #ff9733;
        }

        .button {
            width: 120px;
            height: 40px;
            vertical-align: middle;
            font-family: "微软雅黑";
            cursor: pointer;
            padding: 0.5rem 0.75rem;
            font-weight: 600;
            color: rgb(255 255 255);
            background-color: rgb(31 41 55);
            border-radius: 0.375rem;
            display: inline-flex;
            justify-content: center;
            box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
            border: none;
        }

        .button:hover {
            background-color: rgb(75 85 99);
        }
    }
}